.site-search-form {
	display: block;
	margin-bottom:40px;
	margin-top: 40px;
	max-width:800px;
	min-width:150px;
	margin-left:auto;
	margin-right:auto;
}

.st-search-input {
	width:100%;
	height: 30px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	color: #404040;
	outline:none;
	background-image: url("../svg/search-in.svg");
	background-repeat: no-repeat;
	background-position: 1%;
	background-size: 20px 20px;
	padding-left: 30px;
}

.st-search-input::-ms-clear {
	display: none;
}

.st-search-input:valid + .clearSearchInput{
	display: inline;
}

.local-search-input-cls {
	width: 400px;
	margin: 10px 0;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid #CCC;
	color: #666;
	font-size: 14px;
	color: #404040;
}

.local-search-result-cls {
	margin-top: 30px;
	color: #404040;
	min-height: 400px;
}

.local-search-result-cls {
	color: #888;
	line-height: 44px;
	text-align: center;
	display: block;
	font-size: 16px;
	font-weight: normal;
}

.local-search-result-cls ul {
	min-height: 0;
	height: auto;
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
}

.local-search-result-cls li {
	text-align: left;
	padding-bottom: 20px;
	margin-bottom: 20px;
	line-height: 30px;
	font-weight: normal;
}


.local-search-result-cls a {
	margin-top: 20px;
	font-size: 18px;
	font-weight: normal;
	color: var(--item-title-color);
}

.local-search-result-cls  em.search-keyword {
	color: var(--green);
	background-color: #edf5f2;
}

.local-search-input-cls {
	opacity: 0.6;
	width: 160px;
	transition: all 0.3s;
}

.local-search-input-cls:hover {
	opacity: 1;
	width: 200px;
	transition: all 0.3s;
}

.icon {
	position: relative;
	left: -30px;
	color: #999;
	cursor: pointer;
}

.clearSearchInput {
	display: none;
	position: absolute;
	width: 14px;
	height: 14px;
	margin: 9px 0 0 -20px;
	background: url("../svg/clear.svg") no-repeat;
	background-size: 12px 12px;
	outline: none;
}

.searchResultImage {
	max-width: 112px;
	max-height: 63px;
	width: auto;
	height: auto;
	padding: 8px;
	margin-left: 10px;
	border-radius: 0.25rem !important;
}

.searchResultTitle {
	color: #525b65;
	margin-top: 0.5em;
	line-height: 1em;
	font-family: Roboto;
}

@media (prefers-color-scheme: dark) {
	.st-search-input {
		background-color: #e0e0e0;
	}
	.searchResultTitle{
		color: #aeb2b7;
	}
}
