.tagRed {
	background-color: var(--red) !important;
}

.tagGreen {
	background-color: var(--green) !important;
}

.tagDefault {
	background-color: #6b8a94 !important;
}

.tagOrange {
	background-color: #DE5D43 !important;
}

.tagViolet {
	background-color: #7878b1 !important;
}

.tagGold {
	background-color: #deab0b !important;
}

.tagLightBlue {
	background-color: #5d98cad6 !important;
}

.tagMint {
	background-color: #00b4dc !important;
}
